<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PokeBot.GlobalSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <PokeBot.GlobalSettings>
            <setting name="UseProxy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProxyUri" serializeAs="String">
                <value>proxy.com:1234</value>
            </setting>
            <setting name="ProxyLogin" serializeAs="String">
                <value>pLogin</value>
            </setting>
            <setting name="ProxyPass" serializeAs="String">
                <value>pPass</value>
            </setting>
        </PokeBot.GlobalSettings>
    </userSettings>
</configuration>